

p {
  margin-top: 100px;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255);
  font-weight: 100;
  font-size: large;
}

.md-a{
  text-decoration: inherit;
}

.md-a:hover {
  text-decoration: inherit;
}

a:visited {
  color: inherit;
}

.media-scrolling {
  --_spacer: 1rem;
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  padding: 0 var(--_spacer) var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-container {
  height: 10%;
  display: flex;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  background-color: #23272A;
  padding-top: 1rem;
}

.media-container:hover {
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.3);
  background-color: rgb(74, 74, 74);
}

.media-container > img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.media-container > p {
  margin-top: 16px;
  margin-bottom: 0px;
  text-decoration: initial;
}

.column {
  margin-bottom: 1rem;
}

.rowing {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px 40px 80px;
  column-gap: 02px;
  row-gap: 02px;
  grid-auto-columns: 25%;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  color: #262626;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
color: #dee2e6;

}

* {
  margin: 0px;
  padding: 4px;
  box-sizing: border-box;
}
body {
  background-color: #23272A;
  font-family: 'Gilroy-Regular', sans-serif;
    user-select: none;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    }
::placeholder {
  color: #8b8989;
  opacity: 0.3;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4f4f4f #141414;
}

*::-webkit-scrollbar-track {
  background: #141414;
}
*::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  border-radius: 10px;
  border: 0px none #232222;
}
